<a class="dropdown-item" href="{% url 'account:index' %}"><i class="material-icons-x mr-1">monitor</i>
    Dashboard</a>
<a class="dropdown-item" href="{% url 'account:profile' %}"><i class="material-icons-x mr-1">settings</i>
    Pengaturan</a>
<a class="dropdown-item" href="{% url 'account:pro' %}"><i class="material-icons-x mr-1">spa</i>
    Pro Access</a>
<hr class="dropdown-divider">
<a class="dropdown-item text-danger" href="{% url 'account:logout' %}"><i class="material-icons-x mr-1">logout</i>
    Logout</a>