{% extends 'base/base.html' %}
{% load base %}
{% load static %}

{% block meta %}
{% meta title='Kelas Pemrograman' desc='Belajar berbagai topik pemrograman, menyiapkan kamu kuat secara fundamental sebelum menghadapi tantangan yang sesungguhnya.' %}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
            <div class="page-header">
                <div class="d-flex align-items-center mb-2">
                    <i class="material-icons text-info mr-2 h1">widgets</i>
                    <h1 class="h1 mb-0">Kelas</h1>
                </div>
                <p class="lead">Belajar berbagai topik pemrograman, menyiapkan kamu kuat secara fundamental sebelum
                    menghadapi tantangan yang sesungguhnya.
                </p>
            </div>

            <div class="row justify-content-md-center mb-5">
                <div class="col col-lg-12">
                    <div class="text-center my-4">
                        <img src="{% static 'assets/img/undraw_designer.svg' %}" style="max-width: 300px;" />
                    </div>

                    <div class="card card-note">
                        <div class="card-body">
                            Saat ini <strong>kelas</strong> masih dalam pengembangan, kamu bisa ikuti perkembangannya <a
                                href="https://github.com/upkoding/upkoding" target="_blank">disini</a> dan kalau
                            ada ide, saran dan masukkan bisa via <a href="">Discord</a> ya.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3">
                    <div class="col d-flex align-items-start mb-4">
                        <i class="material-icons text-info mr-2">check_circle</i>
                        <div>
                            <h5 class="mb-0">Bite-sized learning</h5>
                            <p class="text-muted">Belajar teori secukupnya, langsung uji dan praktekkan.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start mb-4">
                        <i class="material-icons text-info mr-2">check_circle</i>
                        <div>
                            <h5 class="mb-0">Baca dan baca</h5>
                            <p class="text-muted">Materi utama berupa text, video hanya pendukung dan pendek.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start mb-4">
                        <i class="material-icons text-info mr-2">check_circle</i>
                        <div>
                            <h5 class="mb-0">Quiz</h5>
                            <p class="text-muted">Uji pemahamanmu tentang topik yang dipelajari.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start mb-4">
                        <i class="material-icons text-info mr-2">check_circle</i>
                        <div>
                            <h5 class="mb-0">Coding time!</h5>
                            <p class="text-muted">Setelah berteori, praktekkan langsung di dalam kelas.
                            </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start mb-4">
                        <i class="material-icons text-info mr-2">check_circle</i>
                        <div>
                            <h5 class="mb-0">Sertifikat</h5>
                            <p class="text-muted">Sebagai bukti kamu telah menyelesaikan kelas.</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start mb-4">
                        <i class="material-icons text-info mr-2">check_circle</i>
                        <div>
                            <h5 class="mb-0">Free dan Premium</h5>
                            <p class="text-muted">Selain gratis, ada juga kelas khusus buat PRO member.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}