{% extends 'base/base.html' %}
{% load base %}

{% block meta %}
{% meta title='Ruang Kelas Pemrogramab' desc='Belajar pemrograman dengan metode bite-sized learning, mempersiapkan fundamental pemrograman yang kuat.' %}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="row justify-content-md-center text-center mb-3">
    <div class="col col-lg-8">
        <h1 class="display-6">Ruang Kelas</h1>
        <p class="lead" style="margin-top: 1rem;">
            Ruang Kelas adalah tempat kamu belajar teori pemrograman, menyiapkan kamu kuat secara fundamental sebelum
            berusaha memecahkan tantangan pemrograman yang sesungguhnya.
        </p>
    </div>
</div>

<div class="container py-5" id="icon-grid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-3">
        <div class="col d-flex align-items-start">
            <i class="bi bi-check-circle-fill flex-shrink-0 me-3 text-primary"></i>
            <div>
                <h5 class="mb-0">Bite-sized learning</h5>
                <p class="text-muted">Belajar teori secukupnya, langsung uji dan praktekkan.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-check-circle-fill flex-shrink-0 me-3 text-primary"></i>
            <div>
                <h5 class="mb-0">Text dan Video</h5>
                <p class="text-muted">Materi utama berupa text. Video hanya pendukung, pendek, kurang dari 5 menit.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-check-circle-fill flex-shrink-0 me-3 text-primary"></i>
            <div>
                <h5 class="mb-0">Quiz</h5>
                <p class="text-muted">Uji pemahamanmu dengan menjawab quiz yang disediakan.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-check-circle-fill flex-shrink-0 me-3 text-primary"></i>
            <div>
                <h5 class="mb-0">Coding time!</h5>
                <p class="text-muted">Setelah belajar teori, saatnya praktekkan dengan UpKoding code runner.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-check-circle-fill flex-shrink-0 me-3 text-primary"></i>
            <div>
                <h5 class="mb-0">Sertifikat</h5>
                <p class="text-muted">Berhasil menyelesaikan sebuah kelas? dapatkan sertifikat.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <i class="bi bi-check-circle-fill flex-shrink-0 me-3 text-primary"></i>
            <div>
                <h5 class="mb-0">Free dan Premium</h5>
                <p class="text-muted">Selain yang gratis, kelas Premium dirancang khusus untuk topik yang lebih advance dan bisa diakses PRO member.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col col-lg-10">
        <div class="text-center">
            <button class="btn btn-lg btn-outline-secondary">
                Oops! masih tahap pengembangan
                <i class="bi bi-emoji-wink"></i>
            </button>
        </div>
    </div>
</div>

{% endblock %}