{% extends 'base/base.html' %}
{% load base %}
{% load static %}

{% block meta %}
{% meta title='Sampai jumpa di lain kesempatan!' desc='Sampai jumpa di lain kesempatan!.'%}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
            <div class="page-header">
                <h1>👋 Sampai jumpa di lain kesempatan!</h1>
                <p class="lead">Membuat sebuah platform atau software yang berguna dan bermanfaat buat orang lain adalah selalu menjadi mimpi saya dan saya yakin itu pasti akan terwujud (optimis) namun mungkin bukan dengan platform ini.</p>
                <p class="lead">Upkoding.com ini awalnya adalah sebuah proyek iseng dan tanpa disangka ternyata banyak juga teman-teman yang bergabung dan mulai menggunakan platform ini, meskipun saya tahu sebagian besar pasti hanya penasaran saja ingin mencoba.</p>
                <p class="lead">Satu hal penting yang saya pelajari dari membuat upkoding.com ini adalah: sebuah solusi yang kita kira akan bermanfaat belum tentu merupakan solusi yang dibutuhkan orang lain. Apabila ingin menjadi solusi, kita harus paham masalahnya terlebih dahulu, dimana pain pointnya setelah ketemu baru tawarkan solusi.</p>
                <p class="lead">Saya perlu belajar lagi dan saat ini ingin memfokuskan tenaga dan pikiran untuk hal lain yang lebih membutuhkan. Dan terima kasih banyak buat semua yang sudah mendukung dan berkontribusi selama ini, mudah-mudahan kita bisa berkolaborasi lagi di proyek berikutnya 🙂 see ya!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}