{% extends 'base/base.html' %}
{% load base %}

{% block meta %}
{% meta title='UpKoding Pro Access' desc='Maksimalkan manfaat platfrom UpKoding dengan Pro Access. Akses semua Kelas, Tantangan dan semua fitur premium tanpa batasan.' %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-xl-10">
            <div class="page-header">
                <h1>Pro Access</h1>
                <p class="lead">Maksimalkan manfaat platfrom UpKoding
                    dengan Pro Access. Akses semua Kelas, Tantangan dan semua fitur premium tanpa batasan.
                </p>
            </div>
            <div class="card mb-3">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead style="border: none;">
                            <tr>
                                <th style="width: 34%;"></th>
                                <th style="width: 22%;"><strong>FREE</strong></th>
                                <th style="width: 22%;"><strong>PRO</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-start">Kelas gratis <span class="badge badge-warning">Coming
                                        Soon!</span></th>
                                <td><i class="material-icons text-success">check_circle</i></td>
                                <td><i class="material-icons text-success">check_circle</i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Kelas premium <span
                                        class="badge badge-warning">Coming
                                        Soon!</span></th>
                                <td><i class="material-icons text-secondary">not_interested</td>
                                <td><i class="material-icons text-success">check_circle</i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tantangan gratis</th>
                                <td><i class="material-icons text-success">check_circle</i></td>
                                <td><i class="material-icons text-success">check_circle</i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Tantangan premium</th>
                                <td><i class="material-icons text-secondary">not_interested</td>
                                <td><i class="material-icons text-success">check_circle</i></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Submit kode solusi tantangan</th>
                                <td><small class="text-muted">3x submit per tantangan per 24 jam</small></td>
                                <td><small class="text-muted">UNLIMITED</small></td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-start">Lihat solusi dari peserta lainnya</th>
                                <td><i class="material-icons text-secondary">not_interested</td>
                                <td><i class="material-icons text-success">check_circle</i></td>
                            </tr>
                            <!-- <tr>
                                <th scope="row" class="text-start">Diskusi via Discord</th>
                                <td><i class="material-icons text-success">check_circle</i></td>
                                <td><i class="material-icons text-success">check_circle</i></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
                {% for plan in plans %}
                <div class="col">
                    <div class="card mb-4 rounded-3 {% if plan.id == 'PRO90' %}border-success{% endif %}">
                        <div class="card-header py-3 {% if plan.id == 'PRO90' %} bg-success border-success{% endif %}">
                            <h4 class="my-0 fw-normal">{{plan.name}}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{plan.price_display}}</h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="text-muted">{{ plan.description }}</li>
                            </ul>
                            <a href="{% url 'account:pro' %}?plan={{plan.id}}"
                                class="w-100 btn btn-lg {% if plan.id == 'PRO90' %}btn-success{% else %}btn-outline-success{% endif %}">Mulai
                                Sekarang</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="card text-center text-muted" role="alert">
                <div class="card-body">
                    UpKoding tidak menyimpan data sensitif terkait pembayaran, pembayaran
                    secara aman diproses oleh <a href="https://midtrans.com/id/security" target="_blank">Midtrans</a>.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}