{% extends 'website/base.html' %}

{% block content %}
<div class="text-center" style="padding: 0 3em">
    <h1>Belajar coding menyenangkan!</h1>
    <p class="lead" style="margin-top: 1rem; margin-bottom: 2rem;">Cara belajar pemrograman yang paling efektif adalah
        dengan <strong>membuat proyek</strong>.
        Tantang diri kamu untuk mengerjakan ide-ide proyek yang sudah disediakan dan dapatkan poin untuk setiap proyek
        yang terselesaikan.
    </p>
    <p class="lead">
        <a href="{% url 'website:proyek' %}" class="btn btn-lg btn-primary">Lihat semua proyek <i
                class="bi bi-arrow-right"></i></a>
    </p>
</div>
{% endblock %}