runtime: python39
instance_class: F2
entrypoint: gunicorn -b :$PORT -w 2 upkoding.wsgi:application
inbound_services:
  - warmup

handlers:
  - url: /static
    static_dir: static/
  - url: /.*
    script: auto

env_variables:
  DEBUG: False
  ALLOWED_HOSTS:
  SECRET_KEY:
  SITE_DOMAIN:
  DB_NAME: 
  DB_USER: 
  DB_PASS: 
  DB_HOST: 
  SOCIAL_AUTH_GITHUB_KEY: 
  SOCIAL_AUTH_GITHUB_SECRET: 
  SOCIAL_AUTH_GOOGLE_OAUTH2_KEY: 
  SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET: 
  SOCIAL_AUTH_FACEBOOK_KEY: 
  SOCIAL_AUTH_FACEBOOK_SECRET: 
  SENTRY_DSN: 
  GOOGLE_APPLICATION_CREDENTIALS:
  GS_BUCKET_NAME:
  DEFAULT_EMAIL_FROM:
  SERVER_EMAIL:
  MAILGUN_API_KEY:
  MAILGUN_SENDER_DOMAIN:
  GOOGLE_ANALYTICS_TRACKING_ID:
