{% load base %}
{% load humanize %}
{% with project=user_project.project %}
<div class="card card-project">
    <div class="progress">
        <div class="progress-bar bg-{{ user_project.get_color_class }}" role="progressbar"
            style="width: {{ user_project.requirements_completed_percent|safe }}%"
            aria-valuenow="{{ user_project.requirements_completed_percent|safe }}" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
    <div class="card-body">
        <!-- <div class="dropdown card-options">
            <button class="btn-options" type="button" id="project-dropdown-button-1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Share</a>
            </div>
        </div> -->
        <div class="card-title">
            <a href="{{ user_project.get_absolute_url }}" class="stretched-link" title="{{ project.title|title }}">
                <h5 data-filter-by="text">{{ project.title|title }}</h5>
            </a>
        </div>
        <div class="card-meta d-flex justify-content-between">
            {% with codeblock=project.codeblock %}
            <div class="d-flex align-items-center">
                {% if codeblock %}
                <i class="devicon-{{codeblock.get_language_display}}-plain mr-1"></i>
                <span class="text-small">{{codeblock.get_language_display}}</span>
                {% else %}
                <!-- <i class="material-icons mr-1">science</i> -->
                <span class="text-small">Project</span>
                {% endif %}
            </div>
            {% endwith %}
            <span class="text-small" data-filter-by="text">{{ user_project.updated|naturalday }}</span>
        </div>
    </div>
</div>
{% endwith %}