<div class="card mb-5">
    <div class="card-body">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Pertanyaan</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Detail pertanyaan</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
    </div>
    <div class="card-footer text-end">
        <a href="#" class="btn btn-primary">Kirim Pertanyaan</a>
    </div>
</div>