{% load base %}
{% with u=thread.user %}
<div class="d-flex pt-3 {% if is_new%}is-new{% endif %}">
    <a href="{{ u.get_absolute_url }}" class="avatar flex-shrink-0 me-2" title="{{ u.get_display_name }}">
        <img src="{{ u|avatar_url:64}}" height="32" width="32" class="rounded" alt="avatar" />
    </a>

    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
            <a href="{{ thread.get_absolute_url }}">
                <strong class="text-gray-dark mb-1" style="font-size: 1rem; font-weight: 500; margin-top: -3px;">
                    {{ thread.title }}
                </strong>
            </a>
        </div>
        <span class="text-muted" style="color: #aaa !important;">
            {% if topic %}
            Oleh <a href="{{ u.get_absolute_url }}"><strong>{{ u.username }}</strong></a>
            {% else %}
            <a href="{{ u.get_absolute_url }}"><strong>{{ u.username }}</strong></a> di
            <a href="{{ thread.topic.get_absolute_url }}">
                <strong>{{ thread.topic.title }}</strong>
            </a>
            {% endif %}
        </span>
        <span class="text-muted" style="color: #aaa !important; float: right; font-size: 13px;">
            {{ thread.created }}
        </span>
    </div>
</div>
{% endwith %}