{% extends 'base/base.html' %}
{% load base %}

{% block meta %}
{% meta title='Forum Diskusi Pemrograman' desc='Forum Diskusi Pemrograman'%}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-8">
            <h1 class="display-6">Diskusi</h1>
            <p class="lead" style="margin-top: 1rem; margin-bottom: 4rem">
                Forum Diskusi Pemrograman
            </p>
        </div>
    </div>
    <div>
        <div class="row content mb-5 g-5">
            <div class="col col-12 col-lg-6">
                <h5 class="section-title mb-3">Topic populer</h5>
                {% for topic in top_topics %}
                {% include 'forum/_topic_item.html' %}
                {% endfor %}
            </div>

            <div class="col col-12 col-lg-6">
                <h5 class="section-title mb-4">Thread terbaru</h5>
                {% for thread in latest_threads %}
                {% include 'forum/_thread_item.html' %}
                {% endfor %}
            </div>
        </div>

        <div class="">
            <h6 class="border-bottom pb-2 mb-0">Diskusi Umum</h6>
                {% for thread in latest_threads %}
                {% include 'forum/_thread_item.html' %}
                {% endfor %}
            <small class="d-block text-end mt-3">
                <a href="#">Lihat semua</a>
            </small>
        </div>

        <div class="">
            <h6 class="border-bottom pb-2 mb-0">Bahasa Pemrograman Python</h6>
                {% for thread in latest_threads %}
                {% include 'forum/_thread_item.html' %}
                {% endfor %}
            <small class="d-block text-end mt-3">
                <a href="#">Lihat semua</a>
            </small>
        </div>

        <div class="">
            <h6 class="border-bottom pb-2 mb-0">PHP Lovers</h6>
                {% for thread in latest_threads %}
                {% include 'forum/_thread_item.html' %}
                {% endfor %}
            <small class="d-block text-end mt-3">
                <a href="#">Lihat semua</a>
            </small>
        </div>

        <div class="">
            <h6 class="border-bottom pb-2 mb-0">AI dan Machine Learning</h6>
                {% for thread in latest_threads %}
                {% include 'forum/_thread_item.html' %}
                {% endfor %}
            <small class="d-block text-end mt-3">
                <a href="#">Lihat semua</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}