{% extends 'base/base.html' %}
{% load base %}
{% load static %}

{% block meta %}
{% meta title=topic.title desc=topic.description %}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="container" x-data="topic()">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-8">
            <h1 class="display-6">{{ topic.title }}</h1>
            <p class="lead" style="margin-top: 1rem; margin-bottom: 4rem">
                {{ topic.description }}
            </p>
        </div>
    </div>
    <div>
        <div class="row content mb-5 g-5">
            <div class="col col-12 col-lg-8">
                {% include 'forum/_thread_form.html' with topic=topic %}

                <div class="threads" x-ref="threads">
                    {% for thread in latest_threads %}
                    {% include 'forum/_thread_item.html' %}
                    {% endfor %}
                </div>

                <small class="d-block text-end mt-3">
                    <a href="#">Lihat semua</a>
                </small>
            </div>

            <div class="col col-12 col-lg-4">
                <h6 class="mb-3">Populer</h6>
                {% for thread in top_threads %}
                {% include 'forum/_thread_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footscripts %}
<script src="{% static 'forum/js/topic.js' %}"></script>
{% endblock %}