{% load markdownify %}
<div class="list-group-item bg-light" id="timeline-form" data-url="{% url 'projects:review' user_project.pk %}">
    <textarea class="form-control mt-2" id="timeline-input-message" rows="3"
        placeholder="Tulis pesan disini..."></textarea>

    <div class="alert mt-2 d-none" id="timeline-alert"></div>

    <div
        class="d-flex w-100 mt-2 mb-2 {% if fullmode %}justify-content-between{% else %}justify-content-end{% endif %}">
        {% if not user_project.is_complete and user.is_staff and user != user_project.user %}
        <button type="button" class="btn btn-success timeline-btn-action" data-text="Approve"
            data-loading-text="Approving..." data-action="approve">Approve</button>
        {% endif %}

        {% if user_project.is_complete and user.is_superuser %}
        <button type="button" class="btn btn-danger timeline-btn-action" data-text="Disapprove"
            data-loading-text="Disapproving..." data-action="disapprove">Disapprove</button>
        {% endif %}

        <button type="button" class="btn btn-primary timeline-btn-action" data-text="Kirim pesan"
            data-loading-text="Mengirim..." data-action="message">Kirim pesan</button>
    </div>
</div>