{% load humanize %}
{% load markdownify %}
<div class="d-flex w-100 justify-content-between">
    <p class="mb-0 text-success">
        {% include 'projects/templatetags/timeline/avatar.html' with u=event_user %}
        <a href="{{ event_user.get_absolute_url }}" title="{{ event_user.get_display_name }}">
            {{ event_user.get_display_name }}
        </a>
        menyetujui proyek ini
    </p>
    <small>{{ event.created|naturalday }}</small>
</div>
{% if event.message %}
<p class="mb-1">
    {{ event.message|markdownify }}
</p>
{% endif %}