{% load sorl_thumbnail %}
{% load base %}
{% load humanize %}
<div class="card border-warning mb-3">
    <div class="card-header">
        <i class="material-icons-x">remove_red_eye</i> <strong>Perlu Direview</strong>
    </div>
    <div class="list-group list-group-flush">
        {% if projects %}
        {% for item in projects %}
        {% with u=item.user p=item.project %}
        <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start">
                {% thumbnail p.cover "160x160" crop="center" as im %}
                <img src="{{ im.url }}" width="50" height="50" class="mr-2 rounded float-start"
                    alt="{{ p.title|title }}">
                {% endthumbnail %}
                <div>
                    <h6 class="mt-0 mb-1">{{ p.title|title }}</h6>
                    <small class="text-muted">
                        <img src="{{ u|avatar_url:40 }}" height="20" width="20" class="rounded-circle"
                            alt="avatar" />
                        <strong class="mr-1">{{ u.username }}</strong>
                        {{ item.updated|naturaltime }}
                    </small>
                </div>
            </div>
        </a>
        {% endwith %}
        {% endfor %}
    </div>
    {% else %}
    <div class="card-body">
        <span class="text-muted">Tidak ada proyek perlu direview.</span>
    </div>
    {% endif %}
</div>