{% load sorl_thumbnail %}
{% load base %}
{% load humanize %}

<div class="card shadow-sm">
    <div class="card-header">
        <i class="material-icons-x">extension</i> <strong>Tantangan Saya</strong>
    </div>
    {% if projects %}
    <div class="list-group list-group-flush">
        {% for item in projects %}
        {% with u=item.user p=item.project %}
        <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start">
                {% thumbnail p.cover "160x160" crop="center" as im %}
                <img src="{{ im.url }}" width="50" height="50" class="mr-2 rounded"
                    alt="{{ p.title|title }}">
                {% endthumbnail %}
                <div>
                    <h6 class="mt-0 mb-1">{{ p.title|title }}</h6>
                    <small class="text-muted">
                        <span class="badge badge-{{ item.get_color_class }}">{{ item.get_status_display }}</span> •
                        {{ item.updated|naturaltime }}
                    </small>
                </div>
            </div>
        </a>
        {% endwith %}
        {% endfor %}
    </div>
    {% else %}
    <div class="card-body">
        <span class="text-muted">Kamu belum mengerjakan tantangan.</span>
    </div>
    {% endif %}
</div>