{% extends 'base/base.html' %}
{% load base %}

{% block meta %}
{% meta title='Masuk atau Buat Akun' desc='Masuk atau Buat Akun di UpKoding'%}
{% endblock %}

{% block main_container_classes %}fullscreen{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-8">
            <div class="text-center">
                <h2>Selamat datang! &#x1f44b;</h2>
                <p class="lead">Masuk atau daftar dengan salah satu akun berikut ini.</p>
                <div class="d-grid gap-3 col-8 mx-auto">

                    {% include 'base/_messages.html' %}

                    <a href="{% url 'account:social:begin' 'github' %}{% if next %}?next={{ next|urlencode }}{% endif %}"
                        class="btn btn-lg btn-block btn-primary">Github</a>
                    <a href="{% url 'account:social:begin' 'google-oauth2' %}{% if next %}?next={{ next|urlencode }}{% endif %}"
                        class="btn btn-lg btn-block btn-danger">Google</a>
                    <!-- <a href="{% url 'account:social:begin' 'facebook' %}{% if next %}?next={{ next|urlencode }}{% endif %}"
                        class="btn btn-lg  btn-block btn-primary"><i class="bi bi-facebook mr-2"></i>Facebook</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
