{% load base %}
<ul class="timeline mt-4">
    {% for event in events %}
    <li>
        {% with event_user=event.obj.user %}
        <a href="{{ event_user.get_absolute_url }}" class="avatar" title="{{ event_user.get_display_name }}">
            <img src="{{ event_user|avatar_url:50}}" height="25" width="25" class="rounded-circle" alt="avatar" />
        </a>
        {% include event.tpl with object=event.obj event_user=event_user user_project=user_project %}
        {% endwith %}
    </li>
    {% endfor %}
</ul>