<ul class="timeline mt-4">
    {% for event in events %}
    <li>
        {% with event_user=event.obj.user %}
        {% include 'projects/templatetags/timeline/avatar.html' with u=event_user %}
        {% include event.tpl with object=event.obj %}
        {% endwith %}
    </li>
    {% endfor %}

    {% if user == user_project.user and not user_project.is_in_progress %}
    <!-- if project owner, show review form (message mode only) -->
    <li>
        {% include 'projects/templatetags/timeline/avatar.html' with u=user %}
        {% include 'projects/templatetags/timeline/review_form.html' with fullmode=False %}
    </li>
    {% endif %}

    {% if user.is_staff and user != user_project.user %}
    <!-- if current user is staff and project waiting for review, show review form (full mode) -->
    <li>
        {% include 'projects/templatetags/timeline/avatar.html' with u=user %}
        {% include 'projects/templatetags/timeline/review_form.html' with fullmode=True %}
    </li>
    {% endif %}
</ul>