{% if blocks %}
{% load markdownify %}
<div class="card mt-4 mb-5 shadow">
    <div class="card-header">
        Lengkapi kode di bawah ini
    </div>
    <div>
        <pre
            style="margin: 0 !important;"><code class="language-{{codeblock.get_language_display}}" style="padding: 30px;">{{ source_code }}</code></pre>
    </div>
    {% if codeblock.expected_output %}
    <div class="alert alert-light rounded-0 border-0 mb-0" role="alert" x-show="run_error">
        <h6 class="alert-heading">Output yang diharapkan:</h6>
        <pre class="rounded-1"><code>{{ codeblock.expected_output }}</code></pre>
    </div>
    {% endif %}

    {% if completed %}
    <div class="alert alert-success d-flex rounded-0 border-0 mb-0" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div>Tantangan ini berhasil diselesaikan!</div>
    </div>
    {% endif %}

</div>
{% endif %}