{% if editable %}
<div x-data="completionForm()">
    <form method="POST" @submit.prevent="submit">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}

        {% if user_project.require_demo_url %}
        <div class="mb-4">
            <label for="demo_url" class="form-label">
                <strong><i class="bi bi-link-45deg"></i>
                    URL Proyek</strong>
            </label>
            <input type="text" name="demo_url" maxlength="250" class="form-control"
                :class="{ 'is-invalid': errors.demo_url }" id="id_demo_url" value="{{ form.demo_url.value }}">
            <div class="form-text">URL proyek live atau demo. contoh: https://codepen.io/aexcode/pen/vYyQxoK</div>
            <div class="invalid-feedback" x-text="errors.demo_url && errors.demo_url[0].message"></div>
        </div>
        {% endif %}

        {% if user_project.require_sourcecode_url %}
        <div class="mb-4">
            <label for="sourcecode_url" class="form-label"><strong><i class="bi bi-link-45deg"></i> URL kode sumber
                    proyek</strong></label>
            <input type="text" name="sourcecode_url" maxlength="250" class="form-control"
                :class="{ 'is-invalid': errors.sourcecode_url }" id="id_sourcecode_url"
                value="{{ form.sourcecode_url.value }}">
            <div class="form-text">Bisa di Github, GitLab atau Bitbucket. contoh: https://github.com/upkoding/upkoding
            </div>
            <div class="invalid-feedback" x-text="errors.sourcecode_url && errors.sourcecode_url[0].message"></div>
        </div>
        {% endif %}

        <div class="mb-4">
            <label for="note" class="form-label"><i class="bi bi-chat-left-text"></i> Catatan (optional)</label>
            <textarea name="note" cols="40" rows="10" class="form-control" id="id_note">{{ form.note.value }}</textarea>
            <div class="form-text">Catatan untuk reviewer atau kesan dan pesan selama mengerjakan proyek ini, apa yang dipelajari dll.</div>
        </div>

        <div class="row mt-3">
            <div class="col col-6">
                <a href="{{ user_project.get_absolute_url }}" class="btn btn-outline-secondary" title="Kembali">
                    <i class="bi bi-arrow-left"></i> Kembali
                </a>
            </div>
            <div class="col col-6">
                {% if user_project.is_in_progress %}
                <button type="submit" class="btn btn-success float-end"
                    x-text="loading ? 'Mengirim Request...': 'Kirim Request'"></button>
                {% else %}
                <button type="submit" class="btn btn-success float-end"
                    x-text="loading ? 'Mengupdate...': 'Update detail'"></button>
                {% endif %}
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    window.completionForm = function () {
        return {
            loading: false,
            errors: {},
            submit(e) {
                this.loading = true
                // make ajax call
                fetch('', {
                    method: 'POST',
                    body: new FormData(e.target)
                }).then(async (resp) => {
                    if (resp.ok) {
                        window.location.href = '{{ user_project.get_absolute_url }}'
                    } else {
                        this.errors = await resp.json()
                    }
                }).finally(() => {
                    this.loading = false
                })
            }
        }
    } 
</script>
{% endif %}