{% load sorl_thumbnail %}
{% load base %}
{% load humanize %}
{% with project=user_project.project %}
<div class="position-relative mb-3 clearfix">
    {% thumbnail project.cover "160x160" crop="center" as im %}
    <img src="{{ im.url }}" width="80" height="80" class="me-3 rounded float-start" alt="{{ project.title|title }}">
    {% endthumbnail %}
    <div>
        <h6 class="mt-0 mb-1">{{ project.title|title }}</h6>
        <small class="text-muted">
            <span class="badge bg-{{ user_project.get_color_class }} me-1"> {{ user_project.get_point_display }}</span>
            {{ user_project.updated|naturaltime }}
        </small>
        <a href="{{ user_project.get_absolute_url }}" class="stretched-link"></a>
        <div class="progress mt-2" style="height: 3px;">
            <div class="progress-bar progress-bar-striped bg-{{ user_project.get_color_class }}" role="progressbar"
                style="width: {{ user_project.requirements_completed_percent|safe }}%"
                aria-valuenow="{{ user_project.requirements_completed_percent|safe }}" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
    </div>
</div>
{% endwith %}