{% extends 'base/base.html' %}

{% load base %}
{% load sorl_thumbnail%}

{% block meta %}
{% meta title='Coders' desc='UpKoding adalah platform dari coders untuk para coders, belajar bersama dan berbagi.'%}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-8">
            <h1 class="display-6">Coders</h1>
            <p class="lead" style="margin-top: 1rem; margin-bottom: 4rem">
                UpKoding adalah platform dari coders untuk para coders, belajar bersama
                dan berbagi. Belum punya akun? yuk
                <a href="{% url 'account:login' %}">daftar disini</a>.
            </p>
        </div>
    </div>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5">
        {% if object_list %} {% for coder in object_list %}
        <a href="{{ coder.get_absolute_url }}" class="link-card" title="{{ coder.get_display_name }}">
            <div class="col">
                <div class="card">
                    <div class="text-center mt-4">{{ coder|avatar_img:120 }}</div>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-1">{{ coder.get_display_name|title }}</h5>
                        <span class="badge bg-primary">
                            @{{ coder.username }}
                        </span>
                        {% if coder.point > 0 %}
                        <span class="badge bg-success">{{ coder.get_point_display }}</span>
                        {% endif %}
                        <p class="card-text mt-2" style="color: #888 !important; line-height: 1.3em; font-size: 0.9rem;font-weight: 300;">
                            {{ coder.description|truncatechars:65 }}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% endif %}
    </div>

    {% include 'base/_pagination.html' with page_obj=page_obj %}
</div>
{% endblock %}