{% extends 'activity/aggregated/global_base.html' %}

{% block icon %}
<div class="avatar bg-primary bg-info"><i class="material-icons">play_arrow</i></div>
{% endblock %}

{% block verb %}
<a href="{{ actor.get_absolute_url }}"><span class="h6">{{ actor.username }}</span></a>
{% if actor_count > 1 %}
{% with other_actor_count=actor_count|add:'-1' %}
{% if other_actor_count == 1 %}dan seorang lainnya{% else %}dan {{ other_actor_count }} orang lainnya{% endif %}
{% endwith%}
{% endif %}
mengerjakan <a href="{{ activity0.object.get_absolute_url }}">{{ activity0.object.title }}</a>
{% endblock %}
