{% comment %}
data:
- object = an instance of `Project`
- user_project = an instance of `UserProject`
terms:
- project_owner = user associated with `Project`
- project_user = the user associated with `UserProject`
{% endcomment %}

{% load base %}
{% load sorl_thumbnail %}
{% load humanize %}
{% thumbnail object.cover "960x540" crop="center" as im %}
<div class="row justify-content-md-center header" style="background-image: url({{ im.url }});">
    {% with object.user as project_owner %}
    <div class="col col-lg-8 left">
        <p style="color: grey">Diposting oleh
            <a href="{{ project_owner.get_absolute_url }}">
                {{ project_owner.get_display_name }}
            </a>
            <span class="ms-1 me-1">/</span>
            <span class="me-1">{{ object.created|naturalday }}</span>
            {% if user_project %}
            <span class="me-1">/</span>
            <span class="badge bg-success ms-1">{{ user_project.get_point_display }}</span>
            {% endif %}
        </p>
        <a href="{{ object.get_absolute_url }}">
            <h1 class="display-6 mt-2" title="{{ object.title }}">{{ object.title|title }}</h1>
        </a>
    </div>
    {% endwith %}

    <div class="col col-lg-4 right text-center">
        {% if user_project %}
        <!-- show user who working on this project -->
        {% with user_project.user as project_user %}
        <p style="color: grey">Dikerjakan oleh</p>
        <p style="font-size: 35px; font-weight: 300;" class="mb-1">{{ project_user|avatar_img }}</p>
        <div class="d-grid">
            <a href="{{ project_user.get_absolute_url }}" style="font-size: 24px;">{{ project_user.username }}</a>
        </div>
        {% endwith %}

        {% else %}
        <!-- show Kerjakan button and sharing -->
        <p style="font-size: 35px; font-weight: 300;">{{ object.get_point_display }}</p>
        <form method="POST">
            <div class="d-grid mt-4">
                {% csrf_token %}
                {% if not object.is_active %}
                <button class="btn btn-lg btn-danger" disabled>Proyek Belum Aktif</button>
                {% elif user.is_authenticated %}
                <button type="submit" class="btn btn-lg" x-data="checkProject()" x-init="init" :class="getBtnClass()"
                    x-html="getBtnContent()"></button>
                {% else %}
                <button type="submit" class="btn btn-lg btn-primary">Kerjakan <i class="bi bi-arrow-right"></i></button>
                {% endif %}
            </div>
        </form>
        {% if user.is_authenticated %}
        <script>
            window.checkProject = function () {
                return {
                    loading: false,
                    project: null,
                    init() {
                        this.loading = true
                        fetch("{% url 'projects:detail' object.slug object.pk %}?me=true", {
                            method: 'get'
                        }).then(async resp => {
                            if (resp.ok) {
                                this.project = await resp.json()
                            }
                        }).finally(() => {
                            this.loading = false
                        })
                    },
                    getBtnContent() {
                        if (this.loading) {
                            return '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>'
                        } else {
                            if (this.project) {
                                switch (this.project.color_class) {
                                    case 'success':
                                    case 'warning':
                                        return 'Lihat <i class="bi bi-arrow-right"></i>'
                                    default:
                                        return 'Lanjutkan <i class="bi bi-arrow-right"></i>'
                                }
                            }
                            return 'Kerjakan <i class="bi bi-arrow-right"></i>'
                        }
                    },
                    getBtnClass() {
                        return {
                            'btn-primary': !this.project || this.project.color_class == 'primary',
                            'btn-success': (this.project && this.project.color_class == 'success'),
                            'btn-warning': (this.project && this.project.color_class == 'warning'),
                        }
                    }
                }
            }
        </script>
        {% endif %}
        <div class="row mt-4">
            <div class="col col-6">
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style"
                    data-a2a-url="{{ object.get_absolute_url|fullurl }}" data-a2a-title="{{ object.title|title }}">
                    <a class="a2a_dd" href="https://www.addtoany.com/share"><i class="bi bi-share-fill me-1"></i>
                        Bagikan</a>
                </div>
            </div>
            <div class="col col-6">
                <a href=""><i class="bi bi-bookmark-plus-fill me-1"></i> Simpan</a>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="overlay"></div>
</div>
{% endthumbnail %}