{% extends 'projects/base.html' %}

{% load base %}
{% load martortags %}
{% load projects %}

{% block meta %}{% meta object=object %}{% endblock %}

{% block content %}
<div class="project-detail">
    {% include 'projects/_project_header.html' with project=object user_project=None %}

    <div class="row mt-3 content">
        {% include 'base/_messages.html' with closable=True %}

        <div class="col col-lg-8 left">
            <h3 class="section-title mb-3"><i class="bi bi-list-task me-2"></i>Requirements</h3>
            {% render_requirements object %}

            <div class="description mt-5">
                {% include 'projects/_project_images.html' with images=project.images.all %}

                <p class="lead ps-3 mb-4"
                    style="font-size: 18px; color: rgba(0, 0, 0, 0.7); font-weight: 300; font-style: italic; border-left: 2px solid #ccc;">
                    {{ object.description_short }}
                </p>
                {{ object.description|safe_markdown }}
            </div>

            <!--
            <h3 class="section-title mt-5 mb-3"><i class="bi bi-chat-square-quote-fill me-2"></i>Diskusi tentang proyek
                ini
            </h3>
            <div class="list-group requirements">
                <div class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1"><i class="bi bi-person-square me-2"></i>

                            Tolong! saya lupa password github</h6>
                    </div>
                    <small class="help ms-4">Just writing this will help you reacquaint yourself with the person you are
                        at
                        your core</small>
                </div>
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1"><i class="bi bi-person-square me-2"></i>
                            Ada yang bisa benerin laptop?</h6>
                    </div>
                </div>
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1"><i class="bi bi-person-square me-2"></i>
                            Ada yang jual invite ClubHouse ndak?</h6>
                    </div>
                    <small class="help ms-4">And some small print.</small>
                </div>
            </div>
            -->
        </div>

        <div class="col col-lg-4 right">
            {% include 'projects/_project_stats.html' %}

            <h3 class="section-title mb-3 mt-5">Sedang Mengerjakan</h3>
            {% render_inprogress_projects object %}
            <h3 class="section-title mt-5 mb-3">Berhasil Menyelesaikan ({{ object.completed_count }})</h3>
            {% render_completed_projects object %}
            <h3 class="section-title mt-5 mb-3">Tags</h3>
            {% render_tags object %}
        </div>
    </div>
</div>
{% endblock %}