{% extends 'base/base.html' %}

{% load base %}
{% load sorl_thumbnail %}

{% block meta %}
{% meta title='Semua Proyek' desc='Tantang dirimu dengan membuat ide-ide proyek berikut menjadi kenyataan dan raih poin berdasarkan tingkat kesulitannya.'%}
{% endblock %}
{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-8">
            <h1 class="display-6">Semua Proyek</h1>
            <p class="lead" style="margin-top: 1rem; margin-bottom: 4rem;">Tantang dirimu dengan membuat ide-ide proyek
                berikut menjadi kenyataan dan raih poin
                berdasarkan
                tingkat kesulitannya.</p>
        </div>
    </div>

    <h6 class="section-title mb-4 text-muted text-upper" style="color: #999 !important;">FEATURED</h6>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5 mb-5">
        {% if featured_projects %}
        {% for project in featured_projects %}
        {% include 'projects/_project_list_item.html' with project=project %}
        {% endfor %}
        {% endif %}
    </div>
    <h6 class="section-title mb-4 text-muted text-upper" style="color: #999 !important;">SEMUA PROYEK</h6>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5">
        {% if object_list %}
        {% for project in object_list %}
        {% include 'projects/_project_list_item.html' with project=project %}
        {% endfor %}
        {% endif %}
    </div>

    {% include 'base/_pagination.html' with page_obj=page_obj %}
</div>
{% endblock %}