<div class="card mb-4 shadow-sm">
    <div class="card-header">
        <i class="bi bi-bell me-2"></i>Notifikasi
    </div>
    <div class="card-body p-4">
        <form method="POST">
            <p class="text-muted h6 mb-4"><i class="bi bi-envelope me-1"></i> Kirimkan notifikasi via email tentang:</p>
            <div>
                {% csrf_token %}
                {{ form.kind }}
                {% for field in form.visible_fields %}
                {% include 'base/form/_checkbox.html' with field=field classes='mb-3' %}
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-3">Simpan</button>
            </div>
        </form>
    </div>
</div>