{% load sorl_thumbnail %}
{% load base %}
{% load humanize %}
<div class="card">
    <div class="card-header">
        <i class="bi bi-chat-left-text me-2"></i></i>Pesan Terbaru
    </div>
    {% if events %}
    <div class="list-group list-group-flush">
        {% for event in events %}
        <a href="{{ event.user_project.get_absolute_url }}" class="list-group-item list-group-item-action p-3">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">
                    {% with u=event.user %}
                    <img src="{{ u|avatar_url:40 }}" height="20" width="20" class="rounded-circle me-1" alt="avatar" />
                    {{ u.username }}
                    {% endwith %}
                </h6>
                <small class="text-muted" style="font-size: 0.8rem; color: #999 !important;">{{ event.updated|naturaltime}}</small>
            </div>
            <p class="mt-2 mb-1 text-muted" style="font-size: 0.9rem">{{ event.message|truncatechars:120 }}</p>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="card-body">
        <span class="text-muted">Tidak ada pesan.</span>
    </div>
    {% endif %}
</div>