{% extends 'base/base.html' %}

{% block title %}Masuk atau Buat Akun{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-lg-8">
        <div class="text-center">
            <h2>Masuk / Buat Akun</h2>
            <p class="lead">Masuk dengan mudah dan aman melalui salah satu akun berikut ini.</p>
            <br /><br />
            <div class="d-grid gap-3 col-8 mx-auto">
                {% include 'base/_messages.html' %}
                <a href="{% url 'account:social:begin' 'github' %}?next={%if next %}{{ next }}{% else %}/{% endif %}"
                    class="btn btn-lg btn-secondary">Github</a>
                <a href="{% url 'account:social:begin' 'google-oauth2' %}?next={%if next %}{{ next }}{% else %}/{% endif %}"
                    class="btn btn-lg btn-danger">Google</a>
                <a href="{% url 'account:social:begin' 'facebook' %}?next={%if next %}{{ next }}{% else %}/{% endif %}"
                    class="btn btn-lg btn-primary">Facebook</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}