{% extends 'website/base.html' %}

{% block title %}Masuk atau Buat Akun{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Masuk / Buat Akun</h2>

    <p class="lead">Masuk dengan mudah dan aman melalui salah satu akun berikut ini.</p>
    {% include 'website/_messages.html' %}

    <br /><br />
    <div class="d-grid gap-3 col-8 mx-auto">
        <a href="{% url 'account:social:begin' 'github' %}" class="btn btn-lg btn-secondary">Github</a>
        <a href="{% url 'account:social:begin' 'google-oauth2' %}" class="btn btn-lg btn-danger">Google</a>
        <a href="{% url 'account:social:begin' 'facebook' %}" class="btn btn-lg btn-primary">Facebook</a>
    </div>
</div>
{% endblock %}