{% extends 'base/base.html' %}
{% load base %}

{% block meta %}
{% meta title='Masuk atau Buat Akun' desc='Masuk atau Buat Akun dengan mudah menggunakan akun Github, Google atau Facebook.'%}
{% endblock %}

{% block announcement %}{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-lg-8">
        <div class="text-center">
            <h2>Masuk / Buat Akun</h2>
            <p class="lead">Masuk dengan mudah dan aman melalui salah satu akun berikut ini.</p>
            <br /><br />
            <div class="d-grid gap-3 col-8 mx-auto">
                {% include 'base/_messages.html' %}
                <a href="{% url 'account:social:begin' 'github' %}{% if next %}?next={{ next }}{% endif %}"
                    class="btn btn-lg btn-secondary"><i class="bi bi-github me-2"></i>Github</a>
                <a href="{% url 'account:social:begin' 'google-oauth2' %}{% if next %}?next={{ next }}{% endif %}"
                    class="btn btn-lg btn-danger"><i class="bi bi-google me-2"></i>Google</a>
                <!-- <a href="{% url 'account:social:begin' 'facebook' %}{% if next %}?next={{ next }}{% endif %}"
                    class="btn btn-lg btn-primary"><i class="bi bi-facebook me-2"></i>Facebook</a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}