{% extends 'base/base.html' %}
{% load base %}
{% load humanize %}

{% block meta %}
{% meta title='UpKoding Pro Access' desc='UpKoding Pro Access'%}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="mb-2">
    {% include 'base/_messages.html' %}
</div>

<div class="card text-center">
    <div class="card-header">
        <i class="bi bi-lightning me-2"></i> PRO ACCESS
    </div>
    <div class="card-body p-5">
        {% if pro_access %}
        {% if pro_access.is_active %}
        <h3 class="card-title text-success">Kamu memiliki Pro Access!</h3>
        {% else %}
        <h3 class="card-title text-danger">Pro Access kamu kadaluarsa.</h3>
        {% endif %}
        <p class="card-text"><strong>Berlaku sampai: {{ pro_access.end }}</strong>
        </p>
        <p class="card-text text-muted mt-4">Perpanjang kapan saja dengan memilih durasi di bawah ini:</p>

        {% else %}
        <h3 class="card-title text-danger">Kamu tidak memiliki Pro Access.</h3>
        <p class="card-text text-muted mt-4">Pilih durasi akses yang kamu inginkan di bawah ini:</p>
        {% endif %}

        <div class="row justify-content-center">
            <div class="col col-lg-5">
                <form method="POST">
                    <div class="input-group">
                        {% csrf_token %}
                        <select class="form-select" aria-label="Pilih durasi akses" name="plan_id">
                            {% for plan in plans %}
                            <option value="{{plan.id}}" {% if plan.id == selected_plan %} selected {% endif %}>
                                {{plan.label}}
                            </option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-primary"
                            value="{% if pro_access %}Perpanjang{% else %}Beli{% endif %}" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% if purchases %}
<div class="card mt-4">
    <div class="card-header">
        <i class="bi bi-clock-history me-2"></i>Riwayat Pembelian
    </div>
    <ol class="list-group list-group-flush">
        {% for purchase in purchases %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="">
                <div class="fw-bold">{{ purchase.plan_name }}</div>
                <small>Rp. {{ purchase.price|intcomma }} / {{ purchase.created }}
                    <span class="badge bg-{{purchase.status_color}} ms-1">{{ purchase.status_label }}</span>

                    {% if purchase.review_required %}
                    <span class="badge bg-dark">under review</span>
                    {% endif %}

                    {% if purchase.is_payment_pending %}
                    <span class="text-muted ms-1"><i class="bi bi-question-circle"></i>
                        Silahkan cek email kamu untuk detail dan cara pembayaran.
                    </span>
                    {% endif %}
                </small>
            </div>

            {% if purchase.can_pay %}
            <span class="mt-2">
                <form action="{% url 'account:pro_purchase_cancel' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="purchase_id" value="{{purchase.id}}" />
                    <input type="hidden" name="purchase_action" value="cancel" />
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Batal</button>
                </form>
                <form action="{% url 'account:pro_purchase_payment' %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="purchase_id" value="{{purchase.id}}" />
                    <input type="hidden" name="purchase_action" value="pay" />
                    <button class="btn btn-sm btn-success ms-1" type="submit">
                        Pembayaran
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </form>
            </span>
            {% endif %}

        </li>
        {% endfor %}
    </ol>
</div>
{% endif %}
{% endblock %}