{% extends 'website/base.html' %}

{% block title %}Profile{% endblock %}
{% block header_mb %}mb-5{% endblock %}

{% block content %}

{% include 'website/messages.html' %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if tab == 'profile' %}active{% endif %}" aria-current="page"
            href="{% url 'account:profile' %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if tab == 'auth' %}active{% endif %}" href="{% url 'account:auth' %}">Autentikasi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if tab == 'settings' %}active{% endif %}"
            href="{% url 'account:settings' %}">Pengaturan</a>
    </li>
</ul>

{% endblock %}