{% extends 'account/base.html' %}
{% load base_tags %}

{% block form %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-4 text-center">
        {{ user|avatar_img }}
        <br>

        {% if user.avatar %}
        <input type="checkbox" name="avatar-clear" id="avatar-clear"/> <label for="avatar-clear">Hapus avatar</label>
        {% else %}
        <input type="file" name="avatar" accept="image/*">
        {% if form.errors.avatar %}
        <div class="invalid-feedback">
            {{ form.errors.avatar }}
        </div>
        {% endif %}
        {% endif %}

    </div>
    <div class="mb-4">
        <label for="username" class="form-label">{{ form.username.label }}</label>
        {{ form.username }}
        {% if form.username.help_text %}<div class="form-text">{{ form.username.help_text }}</div>{% endif %}
        <div class="invalid-feedback">
            {{ form.errors.username }}
        </div>
    </div>
    <div class="mb-4">
        <label for="email" class="form-label">{{ form.email.label }}</label>
        {{ form.email }}
        {% if form.email.help_text %}<div class="form-text">{{ form.email.help_text }}</div>{% endif %}
        <div class="invalid-feedback">
            {{ form.errors.email }}
        </div>
    </div>
    <div class="mb-4">
        <label for="first_name" class="form-label">{{ form.first_name.label }}</label>
        {{ form.first_name }}
        {% if form.first_name.help_text %}<div class="form-text">{{ form.first_name.help_text }}</div>{% endif %}
        <div class="invalid-feedback">
            {{ form.errors.first_name }}
        </div>
    </div>
    <div class="mb-4">
        <label for="last_name" class="form-label">{{ form.last_name.label }}</label>
        {{ form.last_name }}
        {% if form.last_name.help_text %}<div class="form-text">{{ form.last_name.help_text }}</div>{% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Simpan</button>
</form>
{% endblock %}