{% extends 'website/base.html' %}
{% load website %}

{% block title %}Profile{% endblock %}
{% block header_mb %}mb-5{% endblock %}

{% block content %}

{% include 'website/messages.html' %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% active_class 'account:profile' %}" aria-current="page"
            href="{% url 'account:profile' %}">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% active_class 'account:auth' %}" href="{% url 'account:auth' %}">Autentikasi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% active_class 'account:settings' %}" href="{% url 'account:settings' %}">Pengaturan</a>
    </li>
</ul>

{% endblock %}