{% extends 'base/base.html' %}

{% block title %}Settings{% endblock %}
{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="project-detail">
    <div class="row justify-content-md-center">
        <div class="col col-lg-12 right text-center">
            {% include 'base/_messages.html' %}
        </div>
    </div>

    <div class="row pb-5">
        <div class="col col-lg-6">
            {% include 'account/_profile_card.html' with form=profile_form %}
        </div>

        <div class="col col-lg-6">
            {% include 'account/_social_login_card.html' %}
            {% include 'account/_links_card.html' with form=link_form %}
        </div>

    </div>
</div>
{% endblock %}