{% load static %}
<!doctype html>
<html lang="id">

<head>
    <meta charset="utf-8">
    <title>Verifikasi Email</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.13.0/devicon.min.css">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="main-container fullscreen">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-7">
                    <div class="text-center">
                        <h1 class="text-info">Verifikasi Email</h1>
                        <p>
                            {% if success %}
                            <span class="text-success">Halo {{ user.username }}, email kamu sudah terverifikasi!</span>
                            {% else %}
                            <span class="text-danger">Token verifikasi tidak valid atau sudah kadaluarsa!</span>
                            {% endif %}
                            <hr>
                            <a href="{% url 'account:profile' %}">&laquo; Kembali ke pengaturan profile.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>