<!doctype html>
<html lang="en" class="h-100">
{% load static %}
{% load base %}

<head>
    {% block meta %}{% meta %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'base/img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'base/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom styles for this template -->
    <link href="{% static 'base/css/global.css' %}" rel="stylesheet">
    {% block headscripts %}{% endblock %}

    {% if ga_tracking_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ ga_tracking_id }}');
    </script>
    {% endif %}
</head>

<body class="d-flex h-100">
    <div class="custom-container w-100 h-100 p-3 mx-auto flex-column d-flex">
        <header class="{% block header_mb %}mb-auto{% endblock%}">
            <div>
                <a href="{% url 'base:index' %}" class="logo">
                    <h3 class="float-md-start mb-0" style="position: relative;">upkoding
                        <span class="badge bg-primary"
                            style="font-size: 12px; position: absolute; top: 10px; right: -50px">BETA</span>
                    </h3>
                </a>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link {% active_class '/proyek/*' %}" href="{% url 'projects:list' %}">Proyek</a>
                    <a class="nav-link {% active_class '/coders/*' %}" href="{% url 'coders:list' %}">Coders</a>
                    <a class="nav-link {% active_class 'base:forum' %}" href="{% url 'base:forum' %}">Diskusi</a>
                    <a class="nav-link {% active_class 'base:tentang' %}" href="{% url 'base:tentang' %}">Tentang</a>
                    {% if user.is_authenticated %}
                    <div class="btn-group ms-4" style="margin-top: -1px">
                        <a href="{% url 'account:settings' %}" class="btn btn-outline-default nav-link">
                            {{ user|avatar_img:25 }} <span class="ms-1">{{ user.username }}</span>
                        </a>
                        <button type="button" class="btn btn-outline-default dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="nav-link ms-4" href="{% url 'account:login' %}"><i class="bi bi-person-circle me-1"></i>
                        Login</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        <main>
            {% block content %}{% endblock %}
            <div class="card text-dark bg-light mb-5 mt-5">
                <div class="card-body">
                    <h5 class="card-title">Under Development!</h5>
                    <p class="card-text">Terima kasih sudah berkunjung ke UpKoding, namun saat ini platform ini belum
                        dibuka untuk umum. Baru online untuk mengetes fitur, mengisi data proyek serta menguji
                        workflow CI/CD nya.</p>
                    <p class="card-text">Silahkan buat akun, lihat-lihat proyeknya atau mulai mengerjakan. <a
                            href="https://github.com/upkoding/upkoding/discussions" target="_blank"
                            rel="noreferrer noopener">Any feedback are welcome!</a></p>
                    <p class="card-text">Happy Coding!</p>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-center" style="padding-top: 50px;">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="{% url 'projects:list' %}">Proyek</a>
                <a class="nav-link" href="{% url 'coders:list' %}">Coders</a>
                <a class="nav-link" href="{% url 'base:forum' %}">Diskusi</a>
                <a class="nav-link" href="{% url 'base:tentang' %}">Tentang</a>
            </nav>

            <p style="color: grey; margin-top: 1em;">Powered by <a href="https://github.com/upkoding/upkoding"
                    target="_blank">upkoding</a>
                {% if user.is_authenticated and user.is_staff %}
                | <a href="{% url 'admin:index' %}">admin</a>
                {% endif %}
            </p>
        </footer>
    </div>
    <script>window.csrftoken = '{{ csrf_token }}'</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    {% block footscripts %}{% endblock %}
</body>

</html>