{% extends 'base/base.html' %}
{% load base %}

{% block meta %}
{% meta title='UpKoding Pro Access' desc='Maksimalkan manfaat platfrom UpKoding dengan Pro Access. Akses semua Kelas, Tantangan dan semua fitur premium tanpa batasan.' %}
{% endblock %}

{% block header_mb %}mb-5{% endblock %}

{% block content %}
<div class="row justify-content-md-center text-center mb-3">
    <div class="col col-lg-8">
        <h1 class="display-6">Pro Access</h1>
        <p class="lead" style="margin-top: 1rem;">
            Maksimalkan manfaat platfrom UpKoding
            dengan Pro Access. Akses semua Kelas, Tantangan dan semua fitur premium tanpa batasan.
        </p>
    </div>
</div>

<div class="table-responsive mb-5">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th style="width: 34%;"></th>
                <th style="width: 22%;">FREE</th>
                <th style="width: 22%;">PRO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-start">Kelas gratis <span class="badge bg-warning">Coming Soon!</span></th>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Kelas premium <span class="badge bg-warning">Coming Soon!</span></th>
                <td><i class="bi bi-x-circle-fill text-secondary"></td>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Tantangan gratis</th>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Tantangan premium</th>
                <td><i class="bi bi-x-circle-fill text-secondary"></td>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Submit kode solusi tantangan</th>
                <td><small class="text-muted">3x submit per tantangan per 24 jam</small></td>
                <td><small class="text-muted">UNLIMITED</small></td>
            </tr>
            <tr>
                <th scope="row" class="text-start">Lihat solusi dari peserta lainnya</th>
                <td><i class="bi bi-x-circle-fill text-secondary"></td>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
            </tr>
            <!-- <tr>
                <th scope="row" class="text-start">Diskusi via Discord</th>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
                <td><i class="bi bi-check-circle-fill text-primary"></i></td>
            </tr> -->
        </tbody>
    </table>
</div>

<div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
    {% for plan in plans %}
    <div class="col">
        <div class="card mb-4 rounded-3 {% if plan.id == 'PRO90' %}border-primary{% endif %}">
            <div class="card-header py-3 {% if plan.id == 'PRO90' %}text-white bg-primary border-primary{% endif %}">
                <h4 class="my-0 fw-normal">{{plan.name}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{plan.price_display}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="text-muted">{{ plan.description }}</li>
                </ul>
                <a href="{% url 'account:pro' %}?plan={{plan.id}}"
                    class="w-100 btn btn-lg {% if plan.id == 'PRO90' %}btn-primary{% else %}btn-outline-primary{% endif %}">Mulai
                    Sekarang</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card text-center text-muted" role="alert">
    <div class="card-body">
        <i class="bi bi-shield-check me-1"></i>
        UpKoding tidak menyimpan data sensitif terkait pembayaran, pembayaran
        secara aman diproses oleh <a href="https://midtrans.com/id/security" target="_blank">Midtrans</a>.
    </div>
</div>
{% endblock %}