<div class="card text-dark bg-light">
    <div class="card-header">
        {% if fullmode %}Review Form{% else %}Pesan{% endif %}
    </div>
    {% if fullmode %}
    <ul class="list-group list-group-flush">
        {% if user_project.demo_url %}
        <li class="list-group-item">Demo: <a href="{{ user_project.demo_url }}" target="_blank" class="project-url">
                {{ user_project.demo_url }}
            </a>
        </li>
        {% endif %}
        {% if user_project.sourcecode_url %}
        <li class="list-group-item">Kode Sumber: <a href="{{ user_project.sourcecode_url }}" target="_blank"
                class="project-url">
                {{ user_project.sourcecode_url }}
            </a>
        </li>
        {% endif %}
        {% if user_project.note %}
        <li class="list-group-item">{{ user_project.note|linebreaks }}</li>
        {% endif %}
    </ul>
    {% endif %}
    <div class="card-body pt-3 pb-2 ps-3 pe-3" x-data="reviewForm()">

        <div class="mb-3">
            {% if fullmode %}
            <label for="message" class="form-label">Pesan</label>
            {% endif %}
            <textarea class="form-control" id="message" rows="3" placeholder="Tulis pesan disini..."
                x-model="message"></textarea>
        </div>
        <div class="alert"
            :class="{'alert-warning': alert.type=='client', 'alert-danger': alert.type=='server', 'alert-success': alert.type=='success'}"
            role="alert" x-show="alert.type" x-text="alert.message"></div>
        <div class="row mb-2">
            <div class="col col-6">
                {% if not user_project.is_complete and user.is_staff and user != user_project.user %}
                <button type="button" class="btn btn-success" @click="approve"
                    x-html="loading == 'approve' ? spinner : 'Approve'"></button>
                {% endif %}
                {% if user_project.is_complete and user.is_superuser %}
                <button type="button" class="btn btn-danger" @click="disapprove"
                    x-html="loading == 'disapprove' ? spinner : 'Disapprove'"></button>
                {% endif %}
            </div>
            <div class="col col-6">
                <button type="button" class="btn btn-primary float-end" @click="sendMessage"
                    x-html="loading == 'message' ? spinner : 'Kirim Pesan'"></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.reviewForm = function () {
        return {
            spinner: '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Loading...',
            loading: null,
            alert: { type: null, message: '' },
            message: '',
            showAlert(type, message) {
                this.alert = { type: type, message: message }
            },
            resetAlert() {
                this.alert = { type: null, message: '' }
            },
            _post(data, callback) {
                fetch("{% url 'projects:review' user_project.pk %}", {
                    method: 'post',
                    headers: { 'x-CSRFToken': window.csrftoken, 'Content-Type': 'application/javascript' },
                    body: JSON.stringify(data)
                })
                    .then(resp => {
                        if (!resp.ok) {
                            throw Error(resp.statusText)
                        }
                        callback()
                        window.location.reload()
                    })
                    .catch(err => {
                        this.showAlert('server', err)
                    })
                    .finally(() => {
                        this.loading = null
                    })
            },
            approve() {
                if (this.loading) return;
                this.loading = 'approve'
                const payload = { message: this.message, action: 'approve' }

                this._post(payload, () => {
                    this.message = ''
                    this.showAlert('success', 'Proyek telah disetujui!')
                })
            },
            disapprove() {
                if (this.loading) return;
                if (this.message.trim().length == 0) {
                    return this.showAlert('client', 'Berikan alasan kenapa proyek ini batal disetujui!')
                }

                this.loading = 'disapprove'
                const payload = { message: this.message, action: 'disapprove' }

                this._post(payload, () => {
                    this.message = ''
                    this.showAlert('success', 'Proyek telah batal disetujui!')
                })
            },
            sendMessage() {
                if (this.loading) return;
                if (this.message.trim().length == 0) {
                    return this.showAlert('client', 'Pesan tidak boleh kosong!')
                }

                this.loading = 'message'
                const payload = { message: this.message, action: 'message' }
                this._post(payload, () => {
                    this.message = ''
                    this.showAlert('success', 'Pesan dikirim!')
                })
            },
        }
    }
</script>