{% load humanize %}
{% load martortags %}
<div class="card">
    <div class="card-header">
        <a href="{{ event_user.get_absolute_url }}" title="{{ event_user.get_display_name }}">
            {{ event_user.username }}
        </a>
        {% if event_user.is_staff %}
        <span class="badge bg-secondary ms-1" style="font-size: 10px; font-weight: 300;">STAFF</span>
        {% endif %}
        <span class="float-end d-inline-block ps-2 created">
            {{ object.created|naturaltime }}
        </span>
    </div>
    <div class="card-body pt-3 pb-1 ps-3 pe-3">
        {{ object.message|safe_markdown }}
    </div>
</div>