{% load humanize %}
<div class="card border-warning bg-light">
    <div class="card-body pt-2 pb-2 ps-3 pe-3">
        <span class="float-end d-inline-block ps-2 created">
            {{ event.obj.created|naturaltime }}
        </span>
        <div class="title">
            <a href="{{ event_user.get_absolute_url }}" title="{{ event_user.get_display_name }}">
                <strong>
                    {{ event_user.username }}
                </strong>
            </a>
            {% if event_user.is_staff %}
            <span class="badge bg-secondary ms-1" style="font-size: 10px; font-weight: 300;">STAFF</span>
            {% endif %}
            meminta untuk direview.
            <ul class="list-group mt-3 mb-2">
                {% if user_project.demo_url %}
                <li class="list-group-item">Demo: <a href="{{ user_project.demo_url }}" target="_blank"
                        class="project-url">
                        {{ user_project.demo_url }}
                    </a>
                </li>
                {% endif %}
                {% if user_project.sourcecode_url %}
                <li class="list-group-item">Kode Sumber: <a href="{{ user_project.sourcecode_url }}" target="_blank"
                        class="project-url">
                        {{ user_project.sourcecode_url }}
                    </a>
                </li>
                {% endif %}
                {% if user_project.note %}
                <li class="list-group-item">{{ user_project.note|linebreaks }}</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>