{% load humanize %}
{% load markdownify %}
<div class="card border-success">
    {% if object.message %}
    <div class="card-header">
        <a href="{{ event_user.get_absolute_url }}" title="{{ event_user.get_display_name }}">
            {{ event_user.username }}
        </a>
        <span class="badge bg-success ms-1" style="font-size: 10px; font-weight: 300;">STAFF</span>
        <span class="text-success">menyetujui proyek ini</span>
        <span class="float-end d-inline-block ps-2 created">
            {{ object.created|naturaltime }}
        </span>
    </div>
    <div class="card-body pt-3 pb-1 ps-3 pe-3">
        {{ object.message|markdownify }}
    </div>
    {% else %}
    <div class="card-body pt-2 pb-2 ps-3 pe-3">
        <span class="float-end d-inline-block ps-2 created">
            {{ event.obj.created|naturaltime }}
        </span>
        <div class="title">
            <a href="{{ event_user.get_absolute_url }}" title="{{ event_user.get_display_name }}">
                <strong>
                    {{ event_user.username }}
                </strong>
            </a>
            {% if event_user.is_staff %}
            <span class="badge bg-success ms-1 me-1" style="font-size: 10px; font-weight: 300;">STAFF</span>
            {% endif %}
            <span class="text-success">menyetujui proyek ini</span>
        </div>
    </div>
    {% endif %}
</div>