{% load base %}
{% if items %}
<div class="card">
    <div class="list-group list-group-flush mb-0">
        {% for item in items %}
        <a class="list-group-item list-group-item-action" href="{{ item.get_absolute_url }}">
            <div class="media media-member mb-0">
                {% with u=item.user %}
                <img alt="{{ u.username }}" src="{{ u|avatar_url:32 }}" class="avatar" />
                <div class="media-body">
                    <h6 class="mb-0" data-filter-by="text">{{ u.get_display_name }}</h6>
                    <span data-filter-by="text" class="text-muted">{{ u.username }}</span>
                </div>
                <i class="material-icons text-success">check_circle</i>
                {% endwith %}
            </div>
        </a>
        <a class="list-group-item list-group-item-action" href="{{ item.get_absolute_url }}">
            <div class="media media-member mb-0">
                {% with u=item.user %}
                <img alt="{{ u.username }}" src="{{ u|avatar_url:32 }}" class="avatar" />
                <div class="media-body">
                    <h6 class="mb-0" data-filter-by="text">{{ u.get_display_name }}</h6>
                    <span data-filter-by="text" class="text-muted">{{ u.username }}</span>
                </div>
                <i class="material-icons text-success">check_circle</i>
                {% endwith %}
            </div>
        </a>
        <a class="list-group-item list-group-item-action" href="{{ item.get_absolute_url }}">
            <div class="media media-member mb-0">
                {% with u=item.user %}
                <img alt="{{ u.username }}" src="{{ u|avatar_url:32 }}" class="avatar" />
                <div class="media-body">
                    <h6 class="mb-0" data-filter-by="text">{{ u.get_display_name }}</h6>
                    <span data-filter-by="text" class="text-muted">{{ u.username }}</span>
                </div>
                <i class="material-icons text-secondary">av_timer</i>
                {% endwith %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="card text-center">
    <div class="card-body">
        <p class="card-text text-muted">Belum ada yang menyelesaikan.</p>
    </div>
</div>
{% endif %}