{% load base %}
<div class="user-progress">
    {% if items %}
    {% for item in items %}
    <a href="{{ item.get_absolute_url }}">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                    {% with u=item.user %}
                    <img src="{{ u|avatar_url:40 }}" height="20" width="20" class="rounded-circle" alt="avatar" />
                    {{ u.username }}
                    <small>
                        (+{{ item.get_point_display }})
                    </small>
                    {% endwith %}
                </h6>
                <div class="progress" style="height: 3px; margin-left: 36px;">
                    <div class="progress-bar progress-bar-striped bg-{{ item.get_color_class }}" role="progressbar"
                        style="width: {{ item.requirements_completed_percent|safe }}%"
                        aria-valuenow="{{ item.requirements_completed_percent|safe }}" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text" style="color: grey;">Belum ada yang menyelesaikan.</p>
        </div>
    </div>
    {% endif %}
</div>