{% if requirements %}
<div class="progress">
    <div class="progress-bar progress-bar-striped bg-{{ user_project.get_color_class }}" role="progressbar"
        style="width: {{ user_project.requirements_completed_percent|safe }}%" aria-valuenow="10" aria-valuemin="0"
        aria-valuemax="100">
        {% if user_project.requirements_completed_percent > 0.0 %}
        {{ user_project.requirements_completed_percent|floatformat:1 }}%
        {% endif %}
    </div>
</div>

<div class="list-group requirements mt-3">
    {% if editable %}<form method="POST">{% endif %}
        {% csrf_token %}
        <input type="hidden" name="kind" value="update" />
        {% for req in requirements %}
        <label for="reqs-{{ forloop.counter0 }}"
            class="list-group-item list-group-item-action {% if req.complete %}list-group-item-{{ user_project.get_color_class }}{% endif %}"
            style="cursor: pointer;">
            <div class="d-flex w-100 justify-content-between">
                <h6 class="mb-1">
                    <input {% if req.complete %}checked{% endif %} {% if not editable %}disabled{% endif %}
                        class="form-check-input me-2" type="checkbox" name="reqs" id="reqs-{{ forloop.counter0 }}"
                        value="{{ forloop.counter0 }}">
                    {{ req.title }}
                </h6>
            </div>
            {% if req.desc %}
            <div class="ms-4"><small class="help">{{ req.desc }}</small></div>
            {% endif %}
        </label>
        {% endfor %}

        {% if editable %}
        <!-- is_owner && editable -->
        <div class="row mt-3">
            <div class="col col-6">
                <button type="submit" class="btn btn-outline-{{ user_project.get_color_class }}">Update
                    Progress</button>
            </div>
            <div class="col col-6" style="text-align: right;">
                {% if user_project.is_requirements_complete %}
                <a href="?form=1" class="btn btn-success" title="Minta proyek untuk direview">
                    Minta Review <i class="bi bi-arrow-right"></i>
                </a>
                {% else %}
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteUserProjectModal">Batalkan Proyek
                </button>
                {% endif %}
            </div>
        </div>
        {% elif is_owner %}
        <!-- !editable && is_owner: owner can edit the completion detail -->
        <div class="row mt-3">
            <div class="col col-12">
                <a href="?form=1" class="btn btn-outline-success float-end" title="Edit detail">
                    Edit detail <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        {% endif %}
    </form>
</div>

<!-- Modal -->
{% if editable %}
<div class="modal fade" id="deleteUserProjectModal" tabindex="-1" aria-labelledby="deleteUserProjectModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" x-data="deleteForm()">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserProjectModalLabel">Batalkan proyek?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Kamu yakin ga jadi mengerjakan proyek ini? Kalau menemui kesulitan atau ada yang kurang jelas kamu bisa
                bertanya ke teman lainnya (<a href="" target="_blank">disini</a>).

                <div class="alert alert-danger mt-4" role="alert" x-show="error !== null" x-text="error"></div>
            </div>
            <div class="modal-footer">
                <form method="POST" @submit.prevent="deleteProject">
                    {% csrf_token %}
                    <input type="hidden" name="kind" value="delete" />
                    <button type="submit" class="btn btn-primary"
                        x-text="loading ? 'Membatalkan...' : 'Batalkan'"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.deleteForm = function () {
        return {
            loading: false,
            error: null,
            deleteProject(e) {
                this.loading = true
                // make ajax call
                fetch('', {
                    method: 'POST',
                    body: new FormData(e.target)
                }).then((resp) => {
                    if (resp.ok) {
                        window.location.href = '{{ user_project.get_project_url }}'
                    } else {
                        this.error = resp.statusText
                    }
                }).finally(() => {
                    this.loading = false
                })
            }
        }
    }
</script>
{% endif %}

{% endif %}