{% if blocks %}
{% load markdownify %}
<div class="card mt-4 mb-5 shadow" {% if not completed %}x-data="codeEditor()" {% endif %}>
    <div class="card-header">
        <i class="devicon-{{codeblock.get_language_display}}-plain"></i> Lengkapi kode di bawah ini
    </div>
    {% if completed %}
    <pre
        style="margin: 0 !important;"><code class="language-{{codeblock.get_language_display}}" style="padding: 30px;">{{ source_code }}</code></pre>

    {% if codeblock.expected_output %}
    <div class="alert alert-light rounded-0 border-0 mb-0" role="alert">
        <h6 class="alert-heading">Output yang diharapkan</h6>
        <pre class="rounded-1"><code>{{ codeblock.expected_output }}</code></pre>
    </div>
    {% endif %}

    <div class="alert alert-success d-flex rounded-0 border-0 mb-0" role="alert">
        <i class="bi bi-check-circle-fill me-2"></i>
        <div>Tantangan ini berhasil diselesaikan!</div>
    </div>
    {% else %}

    <div>
        {% for block in blocks %}

        {% if block.title or block.desc or block.hint %}
        <div style="padding: 30px 50px 10px">
            {% if block.title %}<h6 class="card-title">{{ block.title }}</h6>{% endif %}
            {% if block.desc %}<div>{{ block.desc|markdownify }}</div>{% endif %}
            {% if block.hint %}<p>{{ block.hint }}</p>{% endif %}
        </div>
        {% endif %}

        {% if block.code %}
        {% if block.readonly %}
        <pre
            style="margin: 0 !important;"><code class="language-{{codeblock.get_language_display}}" style="padding: 30px; padding-left: 50px;">{{ block.code }}</code></pre>
        {% else %}
        <div style="position: relative; height: 320px;">
            <div id="editor" x-init="setBlockId({{ block.block_id }})">{{ block.code }}</div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    {% if codeblock.expected_output %}
    <div class="alert alert-light rounded-0 border-0 mb-0" role="alert">
        <h6 class="alert-heading">Output yang diharapkan</h6>
        <pre class="rounded-1"><code>{{ codeblock.expected_output }}</code></pre>
    </div>
    {% endif %}
    <div role="alert" x-bind:class="run_output ? 'alert alert-info rounded-0 border-0 mb-0' : 'd-none'">
        <h6 class="alert-heading">Output program</h6>
        <pre class="rounded-1"><code x-text="run_output"></code></pre>
    </div>
    <div role="alert" x-bind:class="compile_output ? 'alert alert-danger rounded-0 border-0 mb-0' : 'd-none'">
        <h6 class="alert-heading" x-text="run_status.description"></h6>
        <pre class="rounded-1"><code x-text="compile_output"></code></pre>
    </div>
    <div role="alert" x-bind:class="(run_error && (compile_output == null)) ? 'alert alert-danger rounded-0 border-0 mb-0' : 'd-none'">
        <h6 class="alert-heading" x-text="run_status.description"></h6>
        <pre class="rounded-1"><code x-text="run_error"></code></pre>
    </div>
    <div>
        <div class="card-body">
            <form method="POST" @submit.prevent="submit" class="text-end">
                {% csrf_token %}
                <input type="hidden" name="kind" value="code_submission" />
                {% if not user.is_pro_user %}
                <small class="text-muted" style="opacity: 0.6;">Batas menjalankan kode 3 kali dalam 24 jam, go <a href="{% url 'base:pro' %}">Pro Access</a>!</small>
                {% endif %}
                <button type="submit" class="btn btn-primary ms-3">
                    <i x-bind:class="loading ? 'spinner-grow spinner-grow-sm' : 'bi bi-caret-right-fill'"></i>
                    <span x-text="loading ? 'Menjalankan' : 'Jalankan'"></span>
                </button>
            </form>
        </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" id="completedModal" tabindex="-1"
        aria-labelledby="completedModalLabel" aria-hidden="false" x-ref="completedModal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="completedModalLabel">Berhasil!</h5>
                    <button type="button" class="btn-close" aria-label="Close" x-on:click="reload()"></button>
                </div>
                <div class="modal-body">
                    Selamat kamu berhasil menyelesaikan tantangan ini!
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" x-on:click="reload()">Tutup</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endif %}