{% load sorl_thumbnail %}
{% load projects %}
{% load humanize %}
<div class="col col-12">
    <div class="card h-100 {{ classes }}">
        <span class="badge badge-dark" style="position: absolute; top: 10px; left: 10px; z-index: 99;">
            <i class="material-icons-x">person</i> {{ project.taken_count|intcomma }}
        </span>
        <span class="badge badge-{{ project.get_level_color }}"
            style="position: absolute; top: 10px; right: 10px; z-index: 99;">
            {{ project.get_level_display }}
        </span>

        <a href="{{ project.get_absolute_url }}" class="link-card"
            title="{{ project.title|title }}{% if project.is_premium %} (PRO){% endif %}">
            {% thumbnail project.cover "640x274" crop="center" as im %}
            <img src="{{ im.url }}" class="card-img-top">
            {% endthumbnail %}
            <div class="card-body">
                {% with codeblock=project.codeblock %}
                <h5 class="card-title" style="font-size: 1.05rem; line-height: 1.5;">
                    <!-- {% if codeblock %}
                    <i class="devicon-{{codeblock.get_language_display}}-plain"></i>
                    {% endif %} -->
                    {{ project.title|title }} with linger title that good
                </h5>
                <div style="opacity: 0.6;">
                    {% if project.is_premium %}
                    <a href="{% url 'projects:list' %}?s=pro">
                        <span class="badge badge-secondary">pro</span>
                    </a>
                    {% endif %}
                    {% render_tags project 'secondary' %}
                </div>
                {% endwith %}
            </div>
        </a>
    </div>
</div>