{% extends 'projects/base.html' %}

{% load base %}
{% load markdownify %}
{% load humanize %}
{% load projects %}

{% block meta %}{% meta object=object %}{% endblock %}

{% block content %}
<div class="breadcrumb-bar navbar bg-white sticky-top">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'projects:list' %}">Tantangan</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.title|title }}</li>
        </ol>
    </nav>

    <div class="dropdown">
        <button class="btn btn-primary">
            Kerjakan <i class="material-icons-x">play_arrow</i>
        </button>
    </div>
</div>

<div class="content-container">
    <div class="challenge-module">
        <div class="challenge-module-top">
            <div class="challenge-module-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-11 col-xl-10">
                            <div class="page-header">
                                <h1>{{ object.title|title }}</h1>
                                <p class="lead">{{ object.description_short }}</p>
                            </div>

                            {% include 'base/_messages.html' with closable=True %}

                            <div class="card shadow-sm">
                                <div class="card-body">
                                    {% include 'projects/_project_images.html' with images=project.images.all %}
                                    {{ object.description|markdownify }}
                                </div>
                            </div>

                            {% with codeblock=object.codeblock %}
                            {% if codeblock %}
                            {% render_codeblock_readonly object %}
                            {% endif %}
                            {% endwith %}

                            <div class="d-flex justify-content-between text-small mt-2">
                                <div class="d-flex align-items-center">
                                    <span>Diposting oleh
                                        <a href="{{ object.user.get_absolute_url }}">
                                            {{ object.user.get_display_name}}</a>,
                                        {{ object.created|naturalday }}.
                                    </span>
                                </div>
                                <span>
                                    {% render_tags object 'secondary' %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar collapse" id="sidebar-collapse">
        <div class="sidebar-content">
            <div class="chat-team-sidebar text-small">
                {% if not user_projects %}
                <div class="chat-team-sidebar-top">
                    <div class="media align-items-center text-center">
                        <div class="media-body">
                            <h5 class="mb-1 text-muted"><i class="material-icons">auto_awesome</i></h5>
                            <p>Belum ada yang mengerjakan.</p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="chat-team-sidebar-bottom">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="members">
                            <div class="list-group list-group-flush">
                                {% for up in user_projects %}
                                {% with u=up.user %}
                                <a class="list-group-item list-group-item-action" href="{{ up.get_absolute_url }}">
                                    <div class="media media-member mb-0">
                                        <img alt="{{ u.get_display_name }}" src="{{ u|avatar_url:32 }}"
                                            class="avatar" />
                                        <div class="media-body">
                                            <h6 class="mb-0" data-filter-by="text">{{ u.get_display_name }}</h6>
                                            <span class="text-muted">{{ up.created|naturaltime }}</span>
                                        </div>
                                        {% if not up.is_complete %}
                                        <i class="material-icons text-success" title="Berhasil diselesaikan">check_circle</i>
                                        {% else %}
                                        <i class="material-icons text-secondary" title="Masih mengerjakan">timer</i>
                                        {% endif %}
                                    </div>
                                </a>
                                {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}