{% extends 'base/base.html' %}

{% load base %}
{% load sorl_thumbnail %}

{% block meta %}
{% meta title='Tantangan Pemrograman' desc='Latih keahlian problem solving dengan menyelesaikan setiap tantangan berikut ini.'%}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-xl-10">
            <div class="page-header">
                <div class="d-flex align-items-center mb-2">
                    <i class="material-icons text-info mr-2 h1">extension</i>
                    <h1 class="h1 mb-0">Tantangan</h1>
                </div>
                <p class="lead">Practice makes perfect! Latih keahlian problem solving dengan menyelesaikan setiap
                    tantangan berikut ini.
                </p>
            </div>
            <div>
                <form method="GET" action="{% url 'projects:list' %}">
                    <input name="s" {% if search_query %}value="{{ search_query }}" {% endif %}
                        class="form-control form-control-lg p-3" type="text" placeholder="Cari tantangan..."
                        aria-label="Cari Tantangan">
                </form>
                <div class="mt-2 mb-5">
                    <span class="text-muted mr-1">Filter:</span>
                    <a href="{% url 'projects:list' %}">
                        <span class="badge badge-secondary">
                            {% if not search_query %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            semua
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=javascript">
                        <span class="badge badge-secondary">
                            {% if search_query == 'javascript' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            javascript
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=python">
                        <span class="badge badge-secondary">
                            {% if search_query == 'python' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            python
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=php">
                        <span class="badge badge-secondary">
                            {% if search_query == 'php' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            php
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=level:easy">
                        <span class="badge badge-secondary">
                            {% if search_query == 'level:easy' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            easy
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=level:medium">
                        <span class="badge badge-secondary">
                            {% if search_query == 'level:medium' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            medium
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=level:hard">
                        <span class="badge badge-secondary">
                            {% if search_query == 'level:hard' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            hard
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=level:project">
                        <span class="badge badge-secondary">
                            {% if search_query == 'level:project' %}
                            <span class="material-icons-x">check</span>
                            {% endif%}
                            project
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=pricing:pro">
                        <span class="badge badge-secondary">
                            {% if search_query == 'pricing:pro' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            pro
                        </span>
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'projects:list' %}?s=status:not-taken" title="Tantangan yang belum dikerjakan">
                        <span class="badge badge-primary">
                            {% if search_query == 'status:not-taken' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            not-taken
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=status:solved" title="Tantangan yang berhasil dikerjakan">
                        <span class="badge badge-success">
                            {% if search_query == 'status:solved' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            solved
                        </span>
                    </a>
                    <a href="{% url 'projects:list' %}?s=status:unsolved"
                        title="Tantangan yang sedang dikerjakan (belum selesai)">
                        <span class="badge badge-warning">
                            {% if search_query == 'status:unsolved' %}
                            <span class="material-icons-x">check</span>
                            {% endif %}
                            unsolved
                        </span>
                    </a>
                    {% endif %}
                </div>

                {% if search_query %}
                <h6 class="section-title mb-3 text-muted text-upper text-center">
                    {% if page_obj %}
                    HASIL PENCARIAN <strong>'{{ search_query|upper }}'</strong>
                    {% else %}
                    TIDAK DITEMUKAN!
                    {% endif %}
                </h6>
                {% endif %}

                <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5">
                    {% if object_list %}
                    {% for project in object_list %}
                    {% include 'projects/_project_list_item.html' with project=project full=True classes='shadow-lg' %}
                    {% endfor %}
                    {% endif %}
                </div>

                {% if page_obj %}
                {% include 'base/_pagination.html' with page_obj=page_obj search_query=search_query %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}